BOT_TOKEN=""                          # The bot's token to connect to discord.
OWNER_IDS=[]                          # A list of owner IDs to pass in. e.g: OWNER_IDS=[12345, 67890] 

LAVALINK_NAME="Jarvis"                # You can put any name you'd like.
LAVALINK_URI="http://localhost:2333"  # The URI of the lavalink host. Only change it if you're not hosting it locally.
LAVALINK_PASSWORD="youshallnotpass"   # Password to connect to the lavalink server.
LAVALINK_TRACK_CACHE=100              # Experimental cache size.
LAVALINK_RETRIES=5                    # Number of exponential retires on failed connection.

# Extra variables you can add-

# DEV_GUILD_ID=123                    # The guild ID where all dev commands are configured to.
# BUG_REPORT_CHANNEL_ID=123           # The channel ID where all bug reports to.
